.drawer-controls {
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 50px;
}

.drawer-controls .controls .control {
  margin-bottom: 15px;
  background: #00aa99;
  border: none;
  width: 60px;
  height: 60px;
}

.ant-drawer-content-wrapper {
  width: 640px !important;
}

@media only screen and (max-width: 640px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

@media only screen and (max-width: 670px) {
  .control {
    width: 40px !important;
    height: 40px !important;
  }
}

@media only screen and (max-width: 520px) {
  .condition-render {
    display: none !important;
  }
  .drawer-controls {
    top: -200px;
  }
}

.additional-controls {
  position: absolute;
  top: auto;
  bottom: 30px;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  width: 100%;
  left: 0;
}

.additional-controls .controls .control {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background: #00aa99;
  border: none;
}
